<header class="max-w-[1440px] mx-auto p-1 flex justify-between items-center">

    <img src="/Logo.svg" alt="Logo Relax&Style" class="w-auto h-14" />    

    <a class="bg-emerald-300 rounded-lg px-4 py-2" href="/">
        Iniciar Sesión
    </a>
</header>