---
import Link from "./Link.astro"
---

<nav class="max-w-[1440px] mx-auto p-2 flex justify-center items-center flex-row gap-x-10 opacity-80">
    <Link
        href="/"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
        Inicio
    </Link>
    <Link
        href="/"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
        Servicios
    </Link>
    <Link
        href="/"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
        Contacto
    </Link>
    <Link
        href="/"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
        Nosotros
    </Link>
  
</nav>